body  {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
  }
  
  
  
  div {
    background-color: lightblue;
  }
  
  img {
    height: 200px;
    width: 200ox;
  }
  
  .citySection  {
    width: 18%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    
    
  }
  
  header  {
    background-image: url("https://lmimirror3pvr.azureedge.net/static/media/8608/68834075-cbf7-43c5-a765-78d2d450b0f1/seaweed_960x540.jpg");
    background-repeat: repeat-x repeat-y;
    background-size: 400px;
    background-color: rgb(53, 233, 209);
  }
  
  #fish { 
    padding-left: 32%;
  }
  
  div img {
    display: flex;
    
  }
  
  #sales-table  {
    border: 5px solid lightgreen;
    border-radius: 20px 20px 20px 20px;
    background-color: gray;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
  }